<?xml version="1.0" encoding="utf-8"?>
    <manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ph.com.valtes.mobileapplication">
    <uses-sdk android:minSdkVersion="13" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="25"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" android:maxSdkVersion="25"></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS" android:maxSdkVersion="25"></uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS" android:maxSdkVersion="25"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" android:maxSdkVersion="25"></uses-permission>

    <application
    android:allowBackup="true"
    android:icon="@drawable/ic_action_name"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name="ph.com.valtes.mobileapplication.Login">
    <intent-filter>
    <action android:name="android.intent.action.MAIN" />

    <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
    </activity>

        <activity android:name="ph.com.valtes.mobileapplication.CaptureSignature" android:label="Signature Confirmation"
        android:theme="@android:style/Theme.Holo.Light.Dialog" />

        <receiver android:name=".IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

    </manifest>
    <!--<?xml version="1.0" encoding="utf-8"?>-->
    <!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
    <!--package="ph.com.valtes" android:versionCode="1"-->
    <!--android:versionName="1.0">-->
    <!--<uses-sdk android:minSdkVersion="13" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="25"/>-->

    <!--<application android:icon="@drawable/ic_action_name" android:label="@string/app_name"-->
    <!--android:theme="@android:style/Theme.Holo.Light">-->
    <!--<activity android:name="ph.com.valtes.mobileapplication.CaptureSignatureActivity"-->
    <!--android:label="@string/app_name">-->
    <!--<intent-filter>-->
    <!--<action android:name="android.intent.action.MAIN" />-->
    <!--<category android:name="android.intent.category.LAUNCHER" />-->
    <!--</intent-filter>-->
    <!--</activity>-->
    <!--<activity android:name="ph.com.valtes.mobileapplication.CaptureSignature" android:label="Signature Confirmation"-->
    <!--android:theme="@android:style/Theme.Holo.Light.Dialog" />-->
    <!--</application>-->
    <!--</manifest>-->
